@{
    ViewData["Title"] = "Product Table Data";
}
@* @model List<Admin3.Models.ProductModel> *@
@using System.Data;
@if (TempData["ErrorMessage"]!=null)
{
    <span class="text-danger">@TempData["ErrorMessage"]</span>
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Project Data</h5>
        <a class="btn btn-primary mb-3" asp-controller="Product" asp-action="ProductAddEdit" asp-route-ProductID=0>+ Add</a>
        <!-- Bordered Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Product Id </th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Product Code</th>
                    <th scope="col">Product Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Action</th>
                </tr>

            </thead>
            <tbody>
                @foreach (DataRow pd in Model.Rows)
                {
                    <tr>
                        <th scope="row">@pd["ProductID"]</th>
                        <td>@pd["ProductName"]</td>
                        <td>@pd["ProductCode"]</td>
                        <td>@pd["ProductPrice"]</td>
                        <td>@pd["Description"]</td>
                        <td>@pd["UserName"]</td>
                        <td class="d-flex justify-content-center">
                            <a asp-action="ProductAddEdit" asp-controller="Product" asp-route-ProductID = "@Convert.ToInt32(pd["ProductID"])">
                                <button type="submit" class="btn btn-success me-2">Edit</button>
                            </a>
                            <a asp-controller="Product" asp-action="DelProduct" asp-route-lol="@Convert.ToInt32(pd["ProductID"])">
                                <button type="submit" class="btn btn-danger me-2">Delete</button>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <!-- End Bordered Table -->

    </div>
</div>
