@{
    ViewData["Title"] = "Customer Table Data";
}
@* @model List<Admin3.Models.CustomerModel> *@
@using System.Data;

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Customer Data</h5>
        <span class="text-danger">@TempData["ErrorMessage"]</span>
        <a class="btn btn-primary mb-3" asp-controller="Customer" asp-action="CustomerAddEdit" asp-router-CustomerID=0>+ Add</a>
        <!-- Bordered Table -->
        <div class="overflow-x-scroll">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th scope="col">CustomerID </th>
                        <th scope="col">CustomerName</th>
                        <th scope="col">HomeAddress</th>
                        <th scope="col">Email</th>
                        <th scope="col">MobileNo</th>
                        <th scope="col">GSTNO</th>
                        <th scope="col">CityName</th>
                        <th scope="col">PinCode</th>
                        <th scope="col">NetAmount</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow C in Model.Rows)
                    {
                        <tr>
                            <th scope="row">@C["CustomerID"]</th>
                            <td>@C["CustomerName"]</td>
                            <td>@C["HomeAddress"]</td>
                            <td>@C["Email"]</td>
                            <td>@C["MobileNo"]</td>
                            <td>@C["GST_NO"]</td>
                            <td>@C["CityName"]</td>
                            <td>@C["PinCode"]</td>
                            <td>@C["NetAmount"]</td>
                            <td>@C["UserName"]</td>
                            <td class="d-flex justify-content-center">
                                <a method="post" asp-action="CustomerAddEdit" asp-controller="Customer" asp-route-CustomerID ="@Convert.ToInt32(C["CustomerID"])">
                                    <button type="submit" class="btn btn-success me-2">Edit</button>
                                </a>
                                <a asp-action="DelCust" asp-controller="Customer" asp-route-id="@Convert.ToInt32(C["CustomerID"])">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- End Bordered Table -->

    </div>
</div>